.DS_Store
.env
.env.local
.env.*
!.env.example
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl
localstack_providers_override.tf
crash.log
override.tf
override.tf.json
*_override.tf
!terraform/**/versions.tf
node_modules/
coverage/
*.log
tmp/
.idea/
.vscode/
evidence/**/*.png
!evidence/06-observability/panels/.gitkeep
k6-results/
*.pem
id_rsa
id_ed25519
terraform.tfvars
secrets.json
.ami-id
