.DS_Store
.env
.env.local
.env.*
!.env.example
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl
localstack_providers_override.tf
crash.log
override.tf
override.tf.json
*_override.tf
!terraform/**/versions.tf
node_modules/
coverage/
*.log
!evidence/01-iac/apply.log
!evidence/01-iac/destroy.log
!evidence/02-data/seed.log
!evidence/03-secrets/boot.log
!evidence/07-incidents/**/k6.log
tmp/
.idea/
.vscode/
evidence/**/*.png
!evidence/06-observability/panels/
!evidence/06-observability/panels/**
k6-results/
*.pem
id_rsa
id_ed25519
terraform.tfvars
secrets.json
.ami-id
